* {
  padding: 0px;
  margin: 0px;
}

canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#hero {
  position: relative;
  height:100vh;
  width: 100%;
  background: url('curves_moltin.svg') no-repeat scroll center center/cover border-box,linear-gradient(60deg, red 0%, blue 100%) no-repeat scroll center center/cover;
  text-align: center;
}

h1 {
  color: white;
  font-family: 'Baloo Thambi', cursive;
  padding-top: 10px;
  text-shadow: 1px 1px 1px #000;;
}
